.accessories__nav {
  display: none;
  z-index: -1;
  background-color: rgba(50, 51, 54, 0.692);
  transition: 0.5s ease;

  @include mq($from: tablet-wide) {
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    padding-bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавне з'явлення протягом 0.3 секунди */
    pointer-events: none; /* Заборона спрацьовувати події миші на посиланнях, допоки вони приховані */
    border-radius: 0 0 10px 10px;
  }
}

.nav__item:hover .accessories__nav {
  @include mq($from: tablet-wide) {
    z-index: -1;
    opacity: 1;
    transition: 0.5s ease;
    pointer-events: auto;
  }
}

.accessories__link {
  padding: 0 10px;
  margin: 10px 0;
  img {
    width: 100%;
    max-height: 60px;
    opacity: 0.4;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }
}

.accessories__nav--scroll {
  background-color: #38393d;
  transition: 0.5s ease;
  box-shadow: 0px 5px 5px -5px #fafafa, -5px 0px 5px -5px #fafafa,
    5px 0px 5px -5px #fafafa;
}

.accessories__text {
  display: block;
  margin: 10px 0;
  padding: 0 6px;
}
