.assortment {
  position: relative;
  width: 100%;
  height: 30vh;

  @include mq($from: phablet) {
    height: 40vh;
  }
  @include mq($from: tablet-wide) {
    height: 53vh;
  }
}

.assortment__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url(../img/mounting-optics.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.assortment__background--chassis {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url(../img/chassis.jpg);
}

.assortment__background--accessories {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url(../img/accessories.jpg);
}

.assortment__wrapper {
  position: absolute;
  width: 100%;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.2666666667);
  @include mq($from: tablet) {
    bottom: 50px;
  }
}

.assortment__title {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;

  @include mq($from: tablet-wide) {
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 700;
  }
}
