.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  list-style: none;
  letter-spacing: 1.5px;

  span {
    color: #ffffff8e;
    font-weight: 600;
  }
}
.breadcrumbs__item {
  text-align: center;

  &::after {
    content: '/';
    margin: 0;
    margin: 0 5px;
    font-size: 12px;

    @include mq($from: tablet-wide) {
      margin: 0 10px;
    }
  }

  &:last-child::after {
    content: '';
  }

  &:hover a {
    border-bottom: 2px solid #34a0308c;
    padding-bottom: 3px;
  }
}
