.header__btn {
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: inherit;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;

  @include mq($from: phablet) {
    margin-bottom: 0px;
    margin-left: 6px;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

.header__btn_active {
  background-color: #8882825d;
  color: #02970a;
  border-radius: 3px;
}

.button {
  font-size: 18px;
  text-align: center;
  padding: 15px 37px 15px 37px;
  background-color: #323336;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #1f6223;
  }

  @include mq($from: phablet) {
    font-size: 20px;
  }

  @include mq($from: tablet) {
    margin-top: 30px;

    &:hover {
      background-color: #1f6223;
    }
  }
}

.button__scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 55px;
  background-color: #2d753288;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: #2d7532;
    transition: 0.3s ease;
  }
}

.button__scroll span {
  display: block;
}

.content {
  /* Add some height to enable scrolling */
  height: 200vh;
}

.scroll__aroww {
  margin-top: 20px;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 3px;
    height: 17px;
    background-color: #fff;
  }

  &::after {
    right: 26px;
    transform: rotate(-45deg);
  }

  &::before {
    left: 26px;
    transform: rotate(45deg);
  }
}
