.header__btn {
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: inherit;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;

  @include mq($from: phablet) {
    margin-bottom: 0px;
    margin-left: 6px;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

.header__btn_active {
  background-color: #8882825d;
  color: #02970a;
  border-radius: 3px;
}
