.header__btn {
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: inherit;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;

  @include mq($from: phablet) {
    margin-bottom: 0px;
    margin-left: 6px;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

.header__btn_active {
  background-color: #8882825d;
  color: #02970a;
  border-radius: 3px;
}

.button {
  font-size: 18px;
  text-align: center;
  padding: 15px 37px 15px 37px;
  background-color: #323336;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #1f6223;
  }

  @include mq($from: phablet) {
    font-size: 20px;
  }

  @include mq($from: tablet) {
    margin-top: 30px;

    &:hover {
      background-color: #1f6223;
    }
  }
}

.button__scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 55px;
  background-color: #2d753288;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: #2d7532;
    transition: 0.3s ease;
  }
}

.button__scroll span {
  display: block;
}

.content {
  /* Add some height to enable scrolling */
  height: 200vh;
}

.scroll__aroww {
  margin-top: 20px;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 3px;
    height: 17px;
    background-color: #fff;
  }

  &::after {
    right: 26px;
    transform: rotate(-45deg);
  }

  &::before {
    left: 26px;
    transform: rotate(45deg);
  }
}

.button-slip {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 25px;
}

.button-slip__link {
  background-color: inherit;
  border: none;
  color: #000000;
  cursor: pointer;
  &:hover .button-slip__link-text {
    left: 30px;
  }

  &:hover .button-slip__link-box {
    background-color: #5bb860;
  }
}

.button-slip__link-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  text-align: start;
  transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #323336;
}

.button-slip__link-span {
  border-bottom: 3px solid #000000;
}

.button-slip__link-box {
  margin-left: 60px;
  height: 200px;
  width: 200px;
  background: #f6e701;
  transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
