.communication {
  color: #363839;

  @include mq($from: phablet) {
    width: 60vw;
    margin: 0 auto;
    margin-top: 30px;
  }

  @include mq($from: tablet) {
    display: flex;
    align-items: center;
  }
}

.communication__title {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #363839;
  margin-top: 0;

  @include mq($from: tablet-wide) {
    margin-right: 40px;
    padding-left: 10vw;
    font-size: 22px;
    width: 500px;
  }
}
