.communication {
  // color: #363839;
  color: #ffffff;

  @include mq($from: tablet) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include mq($from: desktop) {
    padding-bottom: 30px;
  }
}

.communication__title {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  // color: #363839;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  line-height: 2;
  margin-bottom: 0;

  @include mq($from: tablet-wide) {
    font-size: 22px;
  }
}
