.link-hover {
  position: relative;
  padding-bottom: 6px;
  transition: 0.3s;
  border-bottom: 1px solid #afafaf;

  &:hover {
    transition: 0.3s;
    color: #ffffff;
  }

  &:active {
    color: rgba(62, 204, 86, 0.493);
  }

  &:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
    opacity: 1;
  }

  &:active:before {
    transition: 5s;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    background: linear-gradient(
      90deg,
      rgb(126, 158, 133) 0%,
      rgb(5, 160, 0) 100%
    );
  }
}

.link-social {
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  line-height: 1.5;

  @include mq($from: desktop) {
    display: flex;
  }
}

.link--hover {
  &:hover {
    color: #5bb860;

    svg {
      fill: #5bb860;
    }
  }
}

.service__link {
  color: #5bb860;
  border-bottom: 1px solid #5bb860;
}

.active-link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    color: #ffffff;
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s;
    background: linear-gradient(
      90deg,
      rgb(126, 158, 133) 0%,
      rgb(5, 160, 0) 100%
    );
  }
}

.link-social--svg {
}
