.menu {
  position: absolute;
  width: 100%;
  transform: translateY(-300%);
  background-color: #626364;
  transition: transform 0.6s ease-in-out;

  @include mq($from: tablet-wide) {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    background-color: inherit;
    transform: translateY(0);
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100vw;
      height: 56px;
      top: 0;
      left: 0;
      background-color: rgba(50, 51, 54, 0.692);
      transition: 0.5s ease;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -56px;
      width: 0;
      height: 0;
      border-left: 56px solid transparent; /* Розраховано за допомогою теореми Піфагора (50*√2) */
      border-right: 0 solid transparent; /* Розраховано за допомогою теореми Піфагора (50*√2) */
      border-top: 56px solid rgba(50, 51, 54, 0.692);
      transition: 0.5s ease;
    }
  }
}

.menu--active {
  position: absolute;
  transform: translateY(0);
  transition: 0.6s ease-out;

  @include mq($from: tablet-wide) {
    display: flex;
    justify-content: end;
  }
}

.menu__wrapper {
  position: relative;
}

.navbar__list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  @include mq($from: tablet-wide) {
    position: relative;
    display: flex;
    flex-direction: row;
  }
}

.navbar__link {
  display: block;
  padding: 16px 10px;
  color: #d3d3d3;
  transition: 0.3s ease-in-out;

  &:hover {
    color: #e4e2e2;
  }

  @include mq($from: tablet) {
    &:hover {
      color: #e4e2e2;
    }
  }
}

.nav__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;

  @include mq($from: tablet-wide) {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    transform: translateY(0);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
  padding: 0;

  li {
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 20px;

    @include mq($from: tablet) {
      margin-bottom: 25px;
    }

    @include mq($from: tablet-wide) {
      justify-content: space-between;
      margin-bottom: 0;
      padding: 15px 7px;
      font-size: 15px;
      font-weight: 400;
      position: relative;
      display: flex;
      flex-direction: row;
      width: auto;
      align-items: center;
      background-color: inherit;
      transform: translateY(0);
    }
  }

  @include mq($from: tablet-wide) {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  @include mq($from: desktop) {
    font-weight: 500;
  }
}

.nav__item {
  position: relative;

  @include mq($from: desktop) {
    &:nth-child(2),
    &:nth-child(3) {
      margin-left: 50px;
    }
  }
}

.nav__list-social {
  flex-wrap: wrap;
  font-weight: 400;
  text-transform: none;

  li {
    @include mq($from: tablet) {
      font-size: 18px;
    }

    @include mq($from: desktop) {
      margin-right: 20px;
      margin-left: 0;
      font-weight: 300;
    }
  }

  @include mq($from: tablet-wide) {
    width: auto;
    margin: 0;
    align-items: center;

    li {
      font-size: 14px;
      padding: 15px 8px;
    }
  }

  @include mq($from: desktop) {
    height: 90 0px;
    justify-content: center;
  }

  img {
    height: 30px;

    @include mq($from: tablet-wide) {
      height: 30px;
    }
  }
}
