.product {
  color: #b9b9b9;
}

.product__box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  transition: all 0.3s ease;

  @include mq($from: tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
  }
  @include mq($from: tablet-wide) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}

.product__card {
  position: relative;
  padding: 10px;
  width: 100%;

  &:hover .product__img,
  &:hover .product__content {
    background-color: #f6f6f6;
    transition: all 0.3s ease;
  }

  @include mq($from: desktop) {
    min-width: 230px;
    max-width: 320px;
  }
}

.product__img {
  text-align: center;
  background-color: #dddddd;
  padding: 10px 0;
  border-radius: 25px 25px 0 0;
  transition: all 0.3s ease;
  max-width: 100%;
  height: 180px;
  display: flex;
  align-items: center;

  @include mq($from: phablet) {
    height: 230px;
  }
  @include mq($from: tablet) {
    height: 200px;
  }
  @include mq($from: desktop) {
    height: 260px;
  }

  img {
    width: 100%;
    align-items: center;
  }
}

.product__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 135px;
  justify-content: center;
  margin-top: 5px;
  background-color: #dddddd;
  border-radius: 0 0 25px 25px;
  transition: all 0.3s ease;
  text-align: center;
}

.product__name {
  font-size: 14px;
  line-height: normal;
  margin: 5px 0;
  letter-spacing: 1px;
  word-wrap: break-word;
  font-weight: 700;
  transition: all 0.3s ease;
  color: #000;

  @include mq($from: phablet) {
    font-size: 16px;
  }

  @include mq($from: tablet-wide) {
    font-size: 18px;
    font-weight: 400;
  }
}

.product__code {
  color: #57585a;
  font-size: 12px;

  transition: all 0.3s ease;
}

.product__price {
  color: #5bb860;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1.5px;
  @include mq($from: phablet) {
    font-size: 20px;
  }

  @include mq($from: tablet) {
    font-size: 16px;
  }

  @include mq($from: tablet-wide) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.product__link {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 35px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 9px 0 #fff;
    transition: all 0.3s ease;
  }
}

.product__more {
  margin-top: 40px;
  text-align: center;
  grid-column: span 2;
  @include mq($from: tablet) {
    grid-column: span 4;
  }
  @include mq($from: tablet-wide) {
    grid-column: span 1;
    place-items: center;
    margin-top: 0;
  }
}

.product__more-link {
  position: relative;
  margin: auto;
  padding: 11px 22px;
  transition: all 0.2s ease;
  @include mq($from: tablet-wide) {
    padding: 0;
  }
}
.product__more-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #d6d6d64b;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;

  @include mq($from: tablet-wide) {
    top: -10px;
    left: -10px;
  }
}
.product__more-link span {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  transform: translateX(-10px);
}
.product__more-link svg {
  position: relative;
  opacity: 0;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-50px);
  transition: all 0.3s ease;
}
.product__more-link:hover:before {
  width: 100%;
  background-color: #5bb860;
  @include mq($from: tablet-wide) {
    width: 115%;
  }
}

.product__more-link:active:before {
  background-color: #438346;
}

.product__more-link:active {
  color: #ccc9c9;
}
.product__more-link:hover svg {
  transform: translateX(0);
  opacity: 1;
}

.product__more-link:active {
  transform: scale(0.96);
}
