.section {
  z-index: 100;
  margin-bottom: 0;
  // color: #363839;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 10px -5px rgb(46 255 0);
  // border-top: 1px solid #dadada;
  background-color: #323336;
}

.section__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 35px;

  a {
    transition: 0.25s;
  }

  a:hover {
    color: #5bb860;
    transition: 0.25s;
  }

  a:active {
    color: #438346;
  }
}

.section__text {
  font-size: 16px;
  line-height: 1.5em;
  word-spacing: 0.6em;
  margin-bottom: 20px;
}

.section--center-text {
  text-align: center;
}

.section--bcg {
  background-color: #323336;
}
