.section {
  z-index: 100;
  margin-bottom: 0;
  color: #363839;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

.section__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.section__text {
  font-size: 16px;
  line-height: 1.5em;
  word-spacing: 0.6em;
  margin-bottom: 20px;
}

.section--center-text {
  text-align: center;
}

.section--bcg {
  background-color: #ffffff;
}
