svg {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  vertical-align: middle;
  fill: #ffffff;

  &:hover {
    transition: 0.3s ease-in-out;
  }
}

.svg-hover {
  fill: #34a030;
  transition: 0.3s ease-in-out;

  &:hover {
    fill: #34a030;
  }
}

.footer__link-svg,
.footer__link-svg--social {
  fill: #ffffff;
  transition: 0.2s ease-in-out;
}

.footer__link-svg--social:hover {
  fill: #34a030;
}
