@charset "UTF-8";
/*
Where ever you're wanting to use a z-index value, 
name it the same as your class and add in it into your variables/setting file, 
like below. You'll never have a "z-index: 99999999;" headache again.

.site-header {
    z-index: z('site-header');
}
*/
/*
	Media Query mixin
	See https://github.com/sass-mq/sass-mq/ for original full version.
	@example scss
	 .element {
	   @include mq($from: mobile) {
		 color: red;
	   }
	   @include mq($to: tablet) {
		 color: blue;
	   }
	   @include mq(mobile, tablet) {
		 color: green;
	   }
	   @include mq($from: tablet, $and: '(orientation: landscape)') {
		 color: teal;
	   }
	   @include mq(em(950px)) {
		 color: hotpink;
	   }
	   @include mq(em(950px), $media-feature: height) {
		 color: hotpink;
	   }
	   @include mq(tablet, $media-type: screen) {
		 color: hotpink;
	   }
	   // Advanced use:
	   $custom-breakpoints: (L: 900px, XL: 1200px);
	   @include mq(L, $bp: $custom-breakpoints) {
		 color: hotpink;
	   }
	 }
*/
/*

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*
  To quickly centre a block element without having to worry about 
  if there is any top or bottom margin already applied.
*/
/*
  When using ::before and ::after you'll always need these three,
  so we're saving two lines of code every time you use this.
  See below an example of using it without any arguments 
  (You will also see this mixin used in some of our other mixins below too).

  div::after {
    @include pseudo;
    top: -1rem; left: -1rem;
    width: 1rem; height: 1rem;
  }
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  background-color: #323336;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  text-decoration: none;
}

.main {
  position: relative;
}

.main--bg {
  position: fixed;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.2;
}
.main--bg img {
  width: 60vh;
}

.main--bg-index {
  z-index: -2;
  background: url(../img/bg-line.svg) center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  transition: all 0.35s ease-out;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
}

.mobile-none {
  display: none;
}

.section {
  margin-bottom: 40px;
}
.section--no-margin {
  margin-bottom: 0;
}

svg {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  vertical-align: middle;
  fill: #ffffff;
}

.lock {
  overflow: hidden;
}

.header__btn {
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: inherit;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.header__btn_active {
  background-color: rgba(136, 130, 130, 0.3647058824);
  color: #5bb860;
  border-radius: 3px;
}

.menu__btn {
  margin: 0 auto;
  margin-top: 25px;
}

.button {
  font-size: 18px;
  text-align: center;
  padding: 15px 37px 15px 37px;
  background-color: #dadada;
  border: none;
  border-radius: 2px;
  color: #333333;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}
.button:hover {
  background-color: #5bb860;
  color: #fff;
}

.button__scroll {
  position: fixed;
  padding: 5px;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 55px;
  background-color: rgba(45, 117, 50, 0.5333333333);
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
  border-radius: 5px;
}
.button__scroll:hover {
  background-color: #2d7532;
  transition: 0.3s ease;
}

.button__scroll span {
  display: block;
}

.content {
  height: 200vh;
}

.scroll__aroww {
  margin-top: 20px;
}
.scroll__aroww::after, .scroll__aroww::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 3px;
  height: 17px;
  background-color: #fff;
}
.scroll__aroww::after {
  right: 33px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.scroll__aroww::before {
  left: 33px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn__container {
  text-align: center;
}

.btn-form {
  margin-top: 30px;
}

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  transition: 0.5s ease;
  background-color: rgba(50, 51, 54, 0.692);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}

.header__scroll {
  background-color: #323336;
  width: 100%;
  color: #ffffff;
  transition: 0.5s ease;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6980392157);
}
.header__scroll a {
  color: rgba(255, 255, 255, 0.6980392157);
}

.header__scroll-nav {
  background-color: rgba(50, 51, 54, 0.692);
  transition: 0.5s ease;
}

.header__scroll .menu::after {
  background-color: #323336;
  box-shadow: 0 15px 20px -20px #fafafa;
}

.header__scroll .menu::before {
  border-top: 56px solid #323336;
  transition: 0.5s ease;
}

.header__scroll .active-link {
  color: #ffffff;
}

.header__logo-img {
  width: 150px;
  transition: 0.5s ease;
}
.header__logo-img:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.header__wrapper {
  align-items: center;
}

.header__inner {
  z-index: 2;
  position: relative;
}

.header__container {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1400px;
  transition: 1s ease-in-out;
}

.header--active {
  background-color: #323336;
  transition: 0.3s ease-in-out;
}

.header__title {
  font-size: 15px;
}

.header__lang {
  display: flex;
}

.header__top {
  background-color: #292b2c;
}

.link-hover {
  position: relative;
  padding-bottom: 6px;
  transition: 0.3s;
}
.link-hover:hover {
  transition: 0.3s;
  color: #ffffff;
}
.link-hover:active {
  color: rgba(62, 204, 86, 0.493);
}
.link-hover:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 1;
}
.link-hover:active:before {
  transition: 5s;
}
.link-hover::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background: linear-gradient(90deg, rgb(126, 158, 133) 0%, rgb(5, 160, 0) 100%);
}

.link-social {
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  line-height: 1.5;
}

.link--hover:hover {
  color: #5bb860;
}
.link--hover:hover svg {
  fill: #5bb860;
}

.service__link {
  color: #5bb860;
  border-bottom: 1px solid #5bb860;
}

.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background: linear-gradient(90deg, rgb(126, 158, 133) 0%, rgb(5, 160, 0) 100%);
}

.navbar__button {
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: opacity 0.5s ease;
  outline: none;
}
.navbar__button:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.navbar__button span {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #ffffff;
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
  transition: border-color 0.5s ease 0.3s, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, border-color 0.5s ease 0.3s;
  transition: transform 0.5s ease, border-color 0.5s ease 0.3s, -webkit-transform 0.5s ease;
}

.navbar__button span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
  -webkit-animation-name: topLineBurger;
          animation-name: topLineBurger;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar__button span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  -webkit-transform: translateY(22px);
          transform: translateY(22px);
  -webkit-animation-name: bottomLineBurger;
          animation-name: bottomLineBurger;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar__button.opened span {
  border-color: transparent;
  transition: border-color 0.3s ease;
}

.navbar__button.opened span:before {
  -webkit-animation-name: topLineCross;
          animation-name: topLineCross;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar__button.opened span:after {
  -webkit-animation-name: bottomLineCross;
          animation-name: bottomLineCross;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes topLineCross {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
}

@keyframes topLineCross {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
}
@-webkit-keyframes bottomLineCross {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
}
@keyframes bottomLineCross {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
}
@-webkit-keyframes topLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(0deg);
            transform: translateY(-10px) rotate(0deg);
  }
}
@keyframes topLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(0deg);
            transform: translateY(-10px) rotate(0deg);
  }
}
@-webkit-keyframes bottomLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(0deg);
            transform: translateY(10px) rotate(0deg);
  }
}
@keyframes bottomLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(0deg);
            transform: translateY(10px) rotate(0deg);
  }
}
.menu {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  background-color: #626364;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.menu--active {
  position: absolute;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: 0.6s ease-out;
}

.menu__wrapper {
  position: relative;
}

.navbar__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__link {
  display: block;
  padding: 16px 10px;
  color: #d3d3d3;
  transition: 0.3s ease-in-out;
}
.navbar__link:hover {
  color: #e4e2e2;
}

.nav__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}
.nav__list li {
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 20px;
}

.nav__item {
  position: relative;
}

.nav__list-social {
  flex-wrap: wrap;
  font-weight: 400;
  text-transform: none;
}
.nav__list-social img {
  height: 30px;
}

svg {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  vertical-align: middle;
  fill: #ffffff;
}
svg:hover {
  transition: 0.3s ease-in-out;
}

.svg-hover {
  fill: #34a030;
  transition: 0.3s ease-in-out;
}
.svg-hover:hover {
  fill: #34a030;
}

.footer__link-svg,
.footer__link-svg--social {
  fill: #ffffff;
  transition: 0.2s ease-in-out;
}

.footer__link-svg--social:hover {
  fill: #34a030;
}

.top-content {
  z-index: -1;
  position: relative;
  color: #3c4852;
  height: 100vh;
  top: 0;
  background-attachment: fixed;
  background-color: #090909;
}

.top-content__container {
  margin: 0 auto;
  max-width: 1400px;
  background-attachment: fixed;
}

.top-content__bg {
  z-index: -1;
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.top-content--index {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.25), #292b2c), url(../img/header_bkg2.jpg);
}

.top-content--index-1 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/service2.jpg);
}

.top-content--index-2 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/service1.jpg);
}

.top-content--index-3 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/strage-armore.png);
  background-size: contain;
  background-color: #090909;
  background-repeat: no-repeat;
}

.top-content--index-4 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/service1.1.jpg);
}

.top-content__text {
  margin-top: 80vh;
  background-color: rgba(0, 0, 0, 0.2666666667);
}

.top-content__wrapper {
  position: relative;
  height: 100vh;
}

.top-content--container {
  max-width: 1700px;
  margin: 0 auto;
}

.top-content__title__wa {
  text-align: start;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  padding: 20px;
  letter-spacing: 5px;
  line-height: 1.5em;
}

.top-content__bg--metal {
  background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%), url(../img/service2.jpg);
}

.services {
  padding-top: 40px;
  padding-bottom: 40px;
}

.services__cards-inner {
  height: 100%;
}

.services__card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #1e741e;
  border-radius: 20px;
}

.services__container {
  text-align: center;
}

.services__img {
  position: relative;
  object-fit: cover;
}
.services__img img {
  width: 100%;
  display: block;
}

.services__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, #a6a6cd 100%, #00d4ff 100%);
  opacity: 0.4;
}

.services__hover-block {
  position: relative;
  padding-top: 0px;
}

.services__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

.services__text {
  line-height: 2em;
  text-align: center;
  color: #b9b4b4;
}

.services__text-link {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services__img-vertical {
  background-color: rgba(0, 0, 0, 0.6784313725);
}

.section {
  z-index: 100;
  margin-bottom: 0;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(105, 105, 105, 0.116);
}

.section__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 35px;
}
.section__title a {
  transition: 0.25s;
}
.section__title a:hover {
  color: #5bb860;
  transition: 0.25s;
}
.section__title a:active {
  color: #438346;
}

.section__text {
  font-size: 16px;
  line-height: 1.5em;
  word-spacing: 0.6em;
  margin-bottom: 20px;
}

.section__text--size {
  font-size: 18px;
}

.section--center-text {
  text-align: center;
}

.footer {
  z-index: 1;
  background-color: #292b2c;
  padding: 30px 0;
  color: #ffffff;
  font-size: 14px;
}

.footer__container {
  padding: 0 20px;
}

.footer__block {
  margin: 60px 0;
}

.footer__social {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.footer__title-logo {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #ffffff;
  transition: all, 0.3s;
}
.footer__title-logo:hover {
  border: 1px solid #34a030;
}

.footer__title-logo--link {
  display: block;
  padding: 10px;
  transition: 0.6s ease-in-out;
}
.footer__title-logo--link:hover {
  color: #34a030;
}

.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
}

.footer__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__title::first-letter {
  color: #34a030;
}

.footer__contact-list {
  list-style: none;
  padding: 0;
}

.footer__contact-item {
  position: relative;
  margin: 15px 0;
}

.footer__link {
  padding-left: 40px;
  transition: 0.6s ease-in-out;
}
.footer__link:hover {
  color: #34a030;
}
.footer__link:hover svg {
  fill: #34a030;
}

.footer__link-svg {
  position: absolute;
  left: 0;
  top: 0;
}

.footer__nav-item {
  margin: 15px 0;
}
.footer__nav-item a {
  padding: 0;
}

.footer__link-social {
  padding-right: 20px;
}

.footer__copyright {
  max-width: 2000px;
  display: flex;
  position: relative;
  padding: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  margin-top: 0;
}

.footer__flag {
  position: relative;
}

.footer__rights {
  text-align: center;
}

.footer {
  margin-top: auto;
}

.communication {
  color: #ffffff;
}

.communication__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  line-height: 2;
  margin-bottom: 0;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4235294118);
  color: #323336;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal__inner {
  position: relative;
  z-index: 100;
  top: 5vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 90%;
  margin-top: 20px;
}

.modal__title {
  text-align: center;
  color: #323336;
  font-size: 24px;
  margin-top: 50px;
}

.modal__text {
  text-align: center;
  font-size: 18px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0.5rem;
  overflow: auto;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}

.modal__input {
  padding-bottom: 10px;
  border: none;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  background-color: inherit;
  text-align: center;
}
.modal__input:focus {
  outline: 0;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.close-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.close-button::after, .close-button::before {
  content: "";
  position: absolute;
  right: 0px;
  width: 20px;
  height: 3px;
  background-color: #263238;
  border-radius: 5px;
}
.close-button::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close-button::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.top-content__bg--dr {
  background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%), url(../img/service1.jpg);
}

.top-content__title--draw {
  width: 90vw;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  padding-bottom: 30px;
}

.gallery__card {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 160px;
  overflow: hidden;
  transition: all 0.4s ease;
  outline: none;
  border: none;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  border-radius: 5px;
}
.gallery__card:hover {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}
.gallery__card img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.4s ease;
  object-fit: cover;
  outline: none;
  border: none;
}
.gallery__card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.4s ease;
}

.accessories__nav {
  display: none;
  z-index: -1;
  background-color: rgba(50, 51, 54, 0.692);
  transition: 0.5s ease;
}

.accessories__link {
  padding: 0 10px;
  margin: 10px 0;
}
.accessories__link img {
  width: 100%;
  opacity: 0.4;
}
.accessories__link:hover img {
  opacity: 1;
}

.accessories__nav--scroll {
  background-color: #38393d;
  transition: 0.5s ease;
  box-shadow: 0px 5px 5px -5px #fafafa, -5px 0px 5px -5px #fafafa, 5px 0px 5px -5px #fafafa;
}

.accessories__text {
  display: block;
  margin: 10px 0;
  padding: 0 6px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #02970a;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper {
  margin-top: 10px;
}

.header-wa {
  height: 100vh;
  background-color: rgba(65, 65, 65, 0.7) 100%;
}

.top-content__bg--wa-1 {
  background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%), url(../img/wa_1.jpg);
}

.top-content__bg--wa-2 {
  background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%), url(../img/wa_2.jpg);
}

.top-content__bg--wa-3 {
  background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%), url(../img/wa_3.jpg);
}

.product {
  color: #b9b9b9;
}

.product__box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  transition: all 0.3s ease;
}

.product__card {
  position: relative;
  padding: 10px;
  width: 100%;
}
.product__card:hover .product__img, .product__card:hover .product__content {
  background-color: #f6f6f6;
  transition: all 0.3s ease;
}

.product__img {
  text-align: center;
  background-color: #dddddd;
  padding: 10px 0;
  border-radius: 25px 25px 0 0;
  transition: all 0.3s ease;
  max-width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
}
.product__img img {
  width: 100%;
  align-items: center;
}

.product__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 135px;
  justify-content: center;
  margin-top: 5px;
  background-color: #dddddd;
  border-radius: 0 0 25px 25px;
  transition: all 0.3s ease;
  text-align: center;
}

.product__name {
  font-size: 14px;
  line-height: normal;
  margin: 5px 0;
  letter-spacing: 1px;
  word-wrap: break-word;
  font-weight: 700;
  transition: all 0.3s ease;
  color: #000;
}

.product__code {
  color: #57585a;
  font-size: 12px;
  transition: all 0.3s ease;
}

.product__price {
  color: #5bb860;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1.5px;
}

.product__link {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 35px;
  transition: all 0.3s ease;
}
.product__link:hover {
  box-shadow: 0 0 9px 0 #fff;
  transition: all 0.3s ease;
}

.product__more {
  margin-top: 40px;
  text-align: center;
  grid-column: span 2;
}

.product__more-link {
  position: relative;
  margin: auto;
  padding: 11px 22px;
  transition: all 0.2s ease;
}

.product__more-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgba(214, 214, 214, 0.2941176471);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.product__more-link span {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.product__more-link svg {
  position: relative;
  opacity: 0;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  transition: all 0.3s ease;
}

.product__more-link:hover:before {
  width: 100%;
  background-color: #5bb860;
}

.product__more-link:active:before {
  background-color: #438346;
}

.product__more-link:active {
  color: #ccc9c9;
}

.product__more-link:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.product__more-link:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.assortment {
  position: relative;
  width: 100%;
  height: 30vh;
}

.assortment__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/mounting-optics.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.assortment__background--chassis {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/chassis.jpg);
}

.assortment__background--accessories {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url(../img/accessories.jpg);
}

.assortment__wrapper {
  position: absolute;
  width: 100%;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.2666666667);
}

.assortment__title {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  letter-spacing: 1.5px;
}
.breadcrumbs__list span {
  color: rgba(255, 255, 255, 0.5568627451);
  font-weight: 600;
}

.breadcrumbs__item {
  text-align: center;
}
.breadcrumbs__item::after {
  content: "/";
  margin: 0;
  margin: 0 5px;
  font-size: 12px;
}
.breadcrumbs__item:last-child::after {
  content: "";
}
.breadcrumbs__item:hover a {
  border-bottom: 2px solid rgba(52, 160, 48, 0.5490196078);
  padding-bottom: 3px;
}

.breadcrumbs--card {
  padding-top: 110px;
  padding-bottom: 20px;
  background-color: rgba(74, 74, 74, 0.94);
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.8em;
}

.card {
  z-index: 3;
  position: relative;
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: rgba(50, 51, 54, 0.8);
}

.card__container {
  max-width: 1200px;
}

.card-top {
  padding: 15px 0;
}

.card-bottom {
  background-color: rgba(0, 0, 0, 0.2588235294);
  border-radius: 10px;
  padding: 15px 10px;
}

.card__article {
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  color: #dedede;
}

.card__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.card__gallery--wrapper {
  width: 100%;
}

.card__gallery {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card__text {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.568627451);
}

.card__price {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.card__price-tablet {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-top: 15px;
  color: #6dcf72;
}

.card__table {
  font-size: 16px;
  text-align: start;
  letter-spacing: 1px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #dedede;
  color: #ffffff;
}
.card__table th {
  font-weight: 500;
  opacity: 1;
}
.card__table th,
.card__table td {
  text-align: start;
  padding: 5px;
}
@media (min-width: 560px) {
  .container {
    padding: 0 20px;
  }
  .header__btn {
    margin-bottom: 0px;
    margin-left: 6px;
  }
  .button {
    font-size: 20px;
  }
  .header__lang {
    flex-direction: row;
  }
  .services__card {
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer__block {
    margin: 0 10px;
    margin-bottom: 40px;
  }
  .footer__logo {
    padding-bottom: 40px;
  }
  .footer__title {
    margin-top: 0;
  }
  .footer__copyright {
    display: block;
  }
  .footer__flag {
    position: absolute;
    left: 20px;
  }
  .modal__text {
    padding: 0 30px;
  }
  .modal-content {
    padding: 20px 30px;
  }
  .gallery__card {
    max-height: 200px;
  }
  .product__img {
    height: 230px;
  }
  .product__name {
    font-size: 16px;
  }
  .product__price {
    font-size: 20px;
  }
  .assortment {
    height: 40vh;
  }
  .card__title {
    font-size: 40px;
  }
  .card__text {
    margin-top: 25px;
  }
  .card__price {
    margin-top: 25px;
  }
  .card__table th {
    padding-right: 50px;
  }
  .card__table {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .tablet-none {
    display: none;
  }
  .menu__btn {
    width: 60%;
    margin: 0;
  }
  .button {
    margin-top: 30px;
  }
  .button:hover {
    background-color: #5bb860;
  }
  .btn-form {
    margin-top: 0;
    width: 100%;
    margin-left: 20px;
  }
  .header__lang {
    margin-left: 30vw;
  }
  .navbar__link:hover {
    color: #e4e2e2;
  }
  .nav__list li {
    margin-bottom: 25px;
  }
  .nav__list-social li {
    font-size: 18px;
  }
  .top-content__title__wa {
    font-size: 16px;
  }
  .services__card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  .services__card {
    width: 100%;
    margin: 5px;
    border-bottom: none;
    margin-bottom: 20px;
  }
  .services__img {
    height: 100%;
  }
  .services__img img {
    height: 100%;
  }
  .services__hover-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: rgba(60, 60, 64, 0.637);
  }
  .services__title {
    margin: 0;
    padding: 5px;
    padding-top: 15px;
    color: #ffffff;
  }
  .services__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 0;
    color: #fff;
  }
  .footer__container {
    margin: 0 auto;
    max-width: 1700px;
    flex-direction: row;
  }
  .footer__logo {
    width: auto;
    padding-bottom: 0;
  }
  .communication {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .modal__inner {
    position: absolute;
    max-width: 500px;
  }
  .close-button {
    top: 30px;
    right: 30px;
  }
  .top-content__title--draw {
    width: 90vw;
    font-size: 8vw;
    font-weight: 600;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product__box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
  }
  .product__img {
    height: 200px;
  }
  .product__price {
    font-size: 16px;
  }
  .product__more {
    grid-column: span 4;
  }
  .assortment__wrapper {
    bottom: 50px;
  }
  .card {
    height: 700px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .card-top,
  .card-bottom {
    float: right;
    width: 50%;
    padding: 10px 15px;
  }
  .card-top {
    background-color: rgba(0, 0, 0, 0.2588235294);
    border-radius: 10px;
    padding: 20px 15px;
    margin-bottom: 10px;
  }
  .card-bottom {
    padding: 20px 15px;
  }
  .card__article {
    text-align: start;
  }
  .card__title {
    text-align: start;
  }
  .card__gallery {
    width: 43%;
    float: left;
  }
  .card__price {
    text-align: start;
  }
  .card__price-camera {
    display: none;
  }
  .card__table th,
  .card__table td {
    padding: 7px 20px 7px 0;
  }
  .card__table {
    margin: 0;
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
  .desktop-none {
    display: none;
  }
  .mobile-none {
    display: block;
  }
  .tablet-none {
    display: block;
  }
  .none {
    display: none;
  }
  .header__btn {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .menu__btn {
    width: 50%;
  }
  .btn-form {
    margin-top: 0;
    width: 100%;
  }
  .header {
    background-color: rgba(50, 51, 54, 0);
  }
  .header__scroll {
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
  .header__scroll-nav {
    background-color: rgba(255, 255, 255, 0);
  }
  .header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
    height: 56px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .header__inner {
    background-color: inherit;
    width: 0;
  }
  .header__container {
    padding: 0;
  }
  .header__logo {
    margin-bottom: 110px;
  }
  .header--active {
    background-color: inherit;
  }
  .header__lang {
    margin-left: 0px;
  }
  .header__menu-ds {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 40px;
    max-height: 60px;
    font-size: 14px;
  }
  .navbar__button {
    display: none;
  }
  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    background-color: inherit;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 56px;
    top: 0;
    left: 0;
    background-color: rgba(50, 51, 54, 0.692);
    transition: 0.5s ease;
  }
  .menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -56px;
    width: 0;
    height: 0;
    border-left: 56px solid transparent; /* Розраховано за допомогою теореми Піфагора (50*√2) */
    border-right: 0 solid transparent; /* Розраховано за допомогою теореми Піфагора (50*√2) */
    border-top: 56px solid rgba(50, 51, 54, 0.692);
    transition: 0.5s ease;
  }
  .menu--active {
    display: flex;
    justify-content: end;
  }
  .navbar__list {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .nav__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav__list li {
    justify-content: space-between;
    margin-bottom: 0;
    padding: 15px 7px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    background-color: inherit;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav__list {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  .nav__list-social {
    width: auto;
    margin: 0;
    align-items: center;
  }
  .nav__list-social li {
    font-size: 14px;
    padding: 15px 8px;
  }
  .nav__list-social img {
    height: 30px;
  }
  .top-content__title__wa {
    font-size: 18px;
  }
  .services__card {
    margin-bottom: 10px;
  }
  .services__card:hover {
    box-shadow: 0px 0px 9px 0px rgb(255, 255, 255);
  }
  .services__hover-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: rgba(60, 60, 64, 0);
    background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.178) 100%, #a6a6cd 100%, #00d4ff 100%);
  }
  .services__title {
    z-index: 2;
    width: 100%;
    color: #ffffff;
    padding: 20px 0;
    font-size: 24px;
    letter-spacing: 1.5px;
    padding-top: 100px;
  }
  .services__text {
    position: absolute;
    bottom: 100%;
    left: 0;
    top: auto;
    -webkit-transform: translate(0);
            transform: translate(0);
    height: 100%;
    color: #fff;
    padding: 0px;
    transition: 0.4s ease-in-out;
    background-size: cover;
    padding-top: 60px;
    background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%);
  }
  .services__text-wrapper {
    padding: 20px;
    margin: 0;
    font-size: 16px;
  }
  .services__card:hover .services__text {
    bottom: 0;
    padding: 0;
  }
  .services__text--armor {
    background-image: linear-gradient(90deg, rgba(60, 60, 64, 0.7) 100%, rgb(166, 166, 205) 100%, rgb(0, 212, 255) 100%);
    background-size: contain;
    background-position: center;
  }
  .footer__container {
    justify-content: space-between;
    padding: 0 50px;
  }
  .footer__block {
    margin: 0 10px;
    margin-bottom: 0;
  }
  .footer__flag {
    left: 40px;
  }
  .communication__title {
    font-size: 22px;
  }
  .top-content__title--draw {
    width: 90vw;
    font-size: 6vw;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 50px;
  }
  .accessories__nav {
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    padding-bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавне з'явлення протягом 0.3 секунди */
    pointer-events: none; /* Заборона спрацьовувати події миші на посиланнях, допоки вони приховані */
    border-radius: 0 0 10px 10px;
  }
  .nav__item:hover .accessories__nav {
    z-index: -1;
    opacity: 1;
    transition: 0.5s ease;
    pointer-events: auto;
  }
  .product__box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  .product__name {
    font-size: 18px;
    font-weight: 400;
  }
  .product__price {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .product__more {
    grid-column: span 1;
    place-items: center;
    margin-top: 0;
  }
  .product__more-link {
    padding: 0;
  }
  .product__more-link:before {
    top: -10px;
    left: -10px;
  }
  .product__more-link:hover:before {
    width: 115%;
  }
  .assortment {
    height: 53vh;
  }
  .assortment__title {
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 700;
  }
  .breadcrumbs__item::after {
    margin: 0 10px;
  }
  .breadcrumbs--card {
    padding-top: 130px;
  }
  .card-top,
  .card-bottom {
    float: right;
    width: 55%;
  }
  .card__title {
    font-size: 35px;
  }
  .card__gallery {
    width: 35%;
    padding: 0 30px;
  }
  .card__text {
    font-size: 18px;
  }
}
@media (min-width: 1248px) {
  .container {
    padding: 0 50px;
  }
  .none {
    display: flex;
  }
  .header__wrapper {
    padding: 0 50px;
  }
  .link-social {
    display: flex;
  }
  .nav__list {
    font-weight: 500;
  }
  .nav__item:nth-child(2), .nav__item:nth-child(3) {
    margin-left: 50px;
  }
  .nav__list-social li {
    margin-right: 20px;
    margin-left: 0;
    font-weight: 300;
  }
  .nav__list-social {
    height: 90 0px;
    justify-content: center;
  }
  .services__card-box {
    height: 800px;
    grid-column-gap: 50px;
  }
  .services__cards-inner {
    padding: 0 35px;
  }
  .services__card {
    height: 40%;
    margin-bottom: 15px;
  }
  .services__card-vertical {
    height: calc(80% + 18px);
  }
  .services__title {
    font-size: 30px;
    padding: 15px 0;
    padding-top: 100px;
  }
  .services__text {
    bottom: 100%;
    padding-top: 100px;
    font-size: 18px;
  }
  .footer__logo {
    width: 350px;
    padding-bottom: 0;
  }
  .footer__flag {
    left: 50px;
  }
  .communication {
    padding-bottom: 30px;
  }
  .top-content__title--draw {
    width: 90vw;
    font-size: 98px;
  }
  .product__card {
    min-width: 230px;
    max-width: 320px;
  }
  .product__img {
    height: 260px;
  }
}